In [1]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int
    profession:str

In [3]:
'''
The @dataclass decorator automatically generates the following methods for you:

init(): Initializes the object and assigns the provided values to the attributes.
repr(): Provides a string representation of the object.
eq(): Implements equality comparison between two objects of the class based on their attributes.
'''
print("Hello World")

Hello World

In [4]:
# create object 
person1=Person('abu Salaho as samman',23,'Ml')
person1

Person(name='abu Salaho as samman', age=23, profession='Ml')

In [5]:
# call individuaal perameter
person1.age

23

In [6]:
@dataclass
class Rectangle:
    width:int
    height:int
    color:str='white'

rectangle1=Rectangle(12,14)
rectangle2=Rectangle(13,14,'red')

In [7]:
rectangle2.color

'red'

In [8]:
# frozen means you can not change after one iteration 
@dataclass(frozen=True)
class Point:
    x:int
    y:int

In [9]:
point=Point(3,4)
point.x,point.y

(3, 4)

In [10]:
point.x=12

FrozenInstanceError: cannot assign to field 'x'

In [11]:
# inheritance in dataclass

@dataclass
class Person:
    name:str
    age:int

@dataclass
class Employee(Person):
    employee_id:str
    department:str

In [13]:
person=Person('Abu Salaho',24)
employee=Employee("Abu Salaho",24,'123','AI')
employee.name

'Abu Salaho'

In [14]:
# nested Dataclasses

@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:str
    address:Address

In [ ]:
address=Address('123 MAin street','Bangal','12345')
person=Person("Krish",31,address)