### Basic

In [ ]:
# printing value
print("Hello world")
print("Welcome To The Course")

In [83]:
# Single Line comment
# Multiple line comment
'''
Welcome to my youtube
channel

'''
print("Hello")

Hello

In [84]:
# Variable declaration
a=10
b=40
c="krish"
type(c)

str

In [85]:
# integer and arrithmatic Operation 
a=10
print(a+10)
print(a*10)
print(a/10)
print(a%10)
type(a)

20
100
1.0
0

int

In [86]:
# floating and type casting 
a=190.5
print(type(a))

b = int(a)
print(type(b))

<class 'float'>
<class 'int'>

In [87]:
# boolean
a1=True
b1=False

print(type(a1))

<class 'bool'>

In [88]:
#strings
name="Abu Salaho "

print(name)
print(type(name))

Abu Salaho
<class 'str'>

In [89]:
# String join 
print(name + "As Samman")
print(name + str(1))

Abu Salaho As Samman
Abu Salaho 1

In [90]:
# complex numbers
j=1.0-2.3j
print(j)
print(j.real, j.imag)

(1-2.3j)
1.0 -2.3

In [91]:
# dynamic Typing ( Which means it convert the type when reassign )
a=10
a="Abu Salaho"
print(type(a))

<class 'str'>

In [92]:
# string Formatting
a=100
print("The values is - ",a)

The values is -  100

In [93]:
# string formating
name="Abu Salaho"
optional="As Samman"
print("The first name is {a} and last name is {b}".format(b=optional,a=name))

The first name is Abu Salaho and last name is As Samman

In [94]:
# string formating
name="Abu Salaho"
optional="As Samman"
print("My Name is {} {}".format(name, optional))

My Name is Abu Salaho As Samman

In [95]:
# input type
a=input("Enter the number A ")
b=input("enter the number B ") 
print(int(a)+int(b))

Enter the number A  12
enter the number B  12

24

### Control Flow

In [96]:
10%3!=0

True

In [97]:
# if else statement
value = input("Enter the number ")
value = int(value)
if(value%2==0):
    print("This number is even")
else:
    print("This Number is odd")

Enter the number  12

This number is even

In [98]:
# if else elif condition
age=float(input("Enter the age"))

if(age<18):
    print("Minor Age")
elif(age>=18 and age<=45):
    print("Mid Age")
elif(age>45 and age<=50):
    print("Senior Mid Age")
else: 
    print("Senior Citizen")

Enter the age 23

Mid Age

In [99]:
# nested iflese
age=int(input("Enter the age"))

if(age<18):
    print("Minor Age")
    if(age<15):
        print("You are in School")
    else:
        print("You are in College")
elif(age>=18 and age<=35):
    print("Mid Age")
    if(age>25):
        print("What is your career goal")
elif(age>35 and age<=50):
    print("Senior Mid Age")
    if(age>45):
        print("You are about to retaired")
else: 
    print("Senior Citizen")

Enter the age 34

Mid Age
What is your career goal

In [100]:
# for loop statement
lst=[1,2,3,4,5,6,7]
for i in lst:
    print(i**2)

1
4
9
16
25
36
49

In [101]:
# find the sum of all the elements in the list
lst=[1,2,3,4,5,6,7]
sum=0
for i in lst:
    sum=sum+i
    
print(sum)

28

In [102]:
# while condition
i=0
even_sum=0
odd_sum=0
while(i<=10):
    
    if(i%2==0):
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
        
    i=i+1
print(even_sum,odd_sum)

30 25

In [103]:
# break statement 
x=1
while(x<7):
    
    if x==4:
        break
    print(x)
    x=x+1

1
2
3

In [104]:
# continue statement
x=0
while x<5:
    x=x+1
    if x==4:
        continue
    print(x)

1
2
3
5

### Operators
* Logical
* Equality
* Comparision
* Arithmetic

In [105]:
# logical Operator 
print(type(False))
print(True and False)
print(True or False)
print(not False)

<class 'bool'>
False
True
True

In [106]:
# logical operator
age=int(input("Enter the age"))
if age<18 or age>=35:
    print("Successful execution")

Enter the age 17

Successful execution

In [107]:
# id means location of memory
a="samman"
b="samman"
print(id(a))
print(id(b))

if id(a)==id(b):
    print("Both memory address is same")

1404371825776
1404371825776
Both memory address is same

In [108]:
# in terms of collection it is not same 
lst=[1,2,3,4,5]
lst1=[1,2,3,4,5]
print(id(lst))
print(id(lst1))

lst is lst1

1404377769408
1404377716544

False

In [109]:
# comparison operator
marks= float(input("Enter the marks"))

if marks>=40:
    print("Pass")
    if marks>=50 and marks<=70:
        print("First")
elif marks<40:
    print("Fail")

Enter the marks 40

Pass

In [ ]:
## Numbers

In [110]:
# absulate value
print(abs(10))
print(abs(-10))
print(abs(10.34))
print(abs(-10.57))

10
10
10.34
10.57

In [111]:
# celing value
import math
print(math.ceil(31.4))
print(math.ceil(-31.4))

32
-31

In [112]:
# floor value
print(math.floor(43.1))
math.floor(-56.9)

43

-57

In [113]:
#  exp value
print(math.exp(10))
print(math.exp(-10))

22026.465794806718
4.5399929762484854e-05

In [114]:
# fab value
print(math.fabs(10.53))
print(math.fabs(-10.53))

10.53
10.53

In [115]:
# log value base 2
print(math.log(10))
print(math.log(56))
print(math.log10(10))

2.302585092994046
4.02535169073515
1.0

In [116]:
# max, min, power, sqrt
print(max(10,12,5,76,100))
print(min(0,100,4,5,6,3))
print(math.pow(20,5))
print(math.pow(-5,-5))
print(math.sqrt(16))

100
0
3200000.0
-0.00032
4.0

In [117]:
# trigonmetry function 
print(math.cos(90))
print(math.tan(45))
print(math.sin(0))

-0.4480736161291701
1.6197751905438615
0.0

In [118]:
# sqrt of a squere plus b squere
print(math.hypot(2,3))

3.605551275463989

In [119]:
# Program to check prime numbers
math.modf(125)

(0.0, 125.0)

In [122]:
my_str='Samman1234'
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('4')) #test if string endswith a d
print(my_str.startswith('s')) #test if string startswith H

True
False
False
True
False
False
False
True
False

## Collection
* list
* dictonary
* tuple
* set

### Feature of list 
*  mutable
* changeable
* ordered

In [134]:
# list 
lst=[1,2,3,4.49,"samman","Helllo",True, False]
print(lst)
lst[4]="Abu Salaho"
print(lst[4])

[1, 2, 3, 4.49, 'samman', 'Helllo', True, False]
Abu Salaho

In [135]:
# list 
lst=[1,2,3,4,5]
for i in lst:
    print(i**2)

1
4
9
16
25

In [1]:
# create a list using python function 
lst=[]
for i in range(0,8):
    lst.append(i)
    
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
# create a list using function
numbers=[1,2,3,4,5]
squard_numbers=[i**2 for i in numbers]
print(squard_numbers)

In [2]:
# filtering even numbers from a list:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_number=[n for n in numbers if n%2==0]
print(even_number)

[2, 4, 6, 8, 10]

In [3]:
# flattening a list of lists: 2 for loops
lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
ftlattend_list=[item for sublist in lists for item in sublist]
ftlattend_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# generating a list of the first letters of words in a list:
words = ['apple', 'banana', 'cherry', 'date']
first_letters=[word[0] for word in words]
print(first_letters)

['a', 'b', 'c', 'd']

In [5]:
# generating a list of the squares of even numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[n**2 for n in numbers if n%2==0]

[4, 16, 36, 64, 100]

In [6]:
# converting a list of strings to a list of integers
strings = ['1', '2', '3', '4', '5']
[int(s) for s in strings]

[1, 2, 3, 4, 5]

In [ ]:
# generating a list of all the divisors of a number:

number =36
[i for i in range(1,number+1) if number%i==0]

In [7]:
# generating a list of the Fibonacci sequence using a list comprehension
fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

[fib[i-1]+ fib[i-2] for i in range(2,len(fib))]

[1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

In [136]:
# null list initialized 
lst=list()
print(type(lst))
len(lst)

<class 'list'>

0

In [137]:
# append function 
lst=[1,2,3,4,5]
lst.append("samman")
print(lst)
lst.append(["John","Bala"])
lst[2:7]

[1, 2, 3, 4, 5, 'samman']

[3, 4, 5, 'samman', ['John', 'Bala']]

In [138]:
# insert function 
lst.insert(2,"ss")
print(lst)

[1, 2, 'ss', 3, 4, 5, 'samman', ['John', 'Bala']]

In [139]:
# extend function 
lst.extend([8,9])
print(lst)

[1, 2, 'ss', 3, 4, 5, 'samman', ['John', 'Bala'], 8, 9]

In [144]:
# operation in list 
lst=[1,2,3,4,5]
print(lst*5)
print("----")
for i in lst:
    print(i/5)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
----
0.2
0.4
0.6
0.8
1.0

In [146]:
# pop function
lst = [3, 4, 5, 'samman', ['John', 'Bala']]
lst.pop()

['John', 'Bala']

In [147]:
lst.pop(2)
print(lst)

[3, 4, 'samman']

In [148]:
# different operation in list
lst=[1,1,2,3,4,5]
print(lst.count(1))
print(len(lst))
print(lst.index(1,1,4))
print(min(lst))
print(max(lst))

2
6
1
1
5

### Feature of set 
* unorderd collection 
* iterable
* mutable
* no duplicate elements

In [150]:
# Defining an empy set
set_var= set()
print(len(set_var))
print(type(set_var))

0
<class 'set'>

In [151]:
# print set value
set_var={1,2,3,4,3}
set_var

{1, 2, 3, 4}

In [153]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'Hitman', 'IronMan'}

set

In [154]:
# add function 
set_var.add("Hulk")
print(set_var)

{'Hulk', 'Avengers', 'Hitman', 'IronMan'}

In [164]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [165]:
# intersection 
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'IronMan'}

In [166]:
# Difference 
d = set1.difference(set2)
print(d)

set()

In [167]:
# Difference update
set2.difference_update(set1)
print(set2)

set()

### Feature of Dictonary
* unordered
* changeable 
* indexed

In [169]:
# basic call
dic={}
print(type(dic))

<class 'dict'>

In [171]:
# check type of dict
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}
print(type(my_dict))
print(my_dict['Car1'])

<class 'dict'>
Audi

In [172]:
# We can even loop throught the dictionaries keys and values 
for x in my_dict:
    print(x)
for x in my_dict.values():
    print(x)
for x in my_dict.items():
    print(x)

Car1
Car2
Car3
Audi
BMW
Mercidies Benz
('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [173]:
# Adding item in dict 
my_dict['car4']='Audi 2.0'
my_dict['Car1']='MAruti'
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [174]:
# nested dict
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [175]:
print(car_type['car1']['Mercedes'])

1960

### Feature of tuples

In [176]:
# create an empty Tuples
my_tuple=tuple()
type(my_tuple)

tuple

In [177]:
my_tuple=('Hello','World')

In [178]:
# print tuple 
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [179]:
# inbuilt function
my_tuple.count('Hello')

1

## Lambda Function

In [10]:
# check the type
f=lambda x,y:x+y
print(f)

<function <lambda> at 0x000001C94C0DF420>

In [11]:
# simnples example
multiply=lambda x,y:x*y
multiply(3,4)

12

In [12]:
# return the length of a string
string_length=lambda s:len(s)
string_length("Abu Salaho As Samman")

20

In [13]:
# convert a list of integers to their corresponding square values:
numbers=[1,2,3,4]
squares=list(map(lambda x:x**2,numbers))
print(squares)

[1, 4, 9, 16]

In [16]:
# filter out even numbers from a list:

numbers=[1,2,3,4,5,6]
list(filter(lambda x:x%2!=0,numbers))

[1, 3, 5]

In [17]:
# sort the list according to string length 
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
sorted(fruits,key=lambda x:len(x))

['date', 'apple', 'banana', 'cherry', 'elderberry']

In [18]:
# sort the dict according to age 
people = [
    {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
    {'name': 'Bob', 'age': 30, 'occupation': 'Manager'},
    {'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
    {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
]

sorted(people,key=lambda x:(x['age']))

[{'name': 'Charlie', 'age': 22, 'occupation': 'Intern'},
 {'name': 'Alice', 'age': 25, 'occupation': 'Engineer'},
 {'name': 'Dave', 'age': 27, 'occupation': 'Designer'},
 {'name': 'Bob', 'age': 30, 'occupation': 'Manager'}]

In [19]:
# finding the maximum value in a dictionary
data = {'a': 10, 'b': 20, 'c': 5, 'd': 15}
max(data,key=lambda x:data[x])

'b'

In [21]:
# grouping a list of strings based on their first letter
from itertools import groupby

words = ['apple','apple wood' 'banana', 'cherry', 'date', 'elderberry', 'fig']

groups = groupby(sorted(words), key=lambda x: x[0])

for key, group in groups:
    print(key, list(group))

a ['apple', 'apple woodbanana']
c ['cherry']
d ['date']
e ['elderberry']
f ['fig']